# Bundler
/.bundle/
/vendor/bundle
/Gemfile.lock

# RSpec
/spec/examples.txt
/.rspec_status

# Coverage
/coverage/

# Logs
*.log

# OS files
.DS_Store
*.swp
*.swo
*~

# IDE files
.idea/
.vscode/

# Backup files
*.bak
